PORT=3000
# Copia el nombre de SSMS → Explorador de objetos (ej. EQUIPO\INSTANCIA)
DB_SERVER=F41C0N\\MSSQLSERVER1
# DB_PORT=1433
# DB_INSTANCE=SQLEXPRESS
DB_DATABASE=EstacionaTEC
# true = Windows Authentication (recomendado en tu PC)
DB_TRUSTED_CONNECTION=true
# Si DB_TRUSTED_CONNECTION=false, usa usuario SQL:
DB_USER=sa
DB_PASSWORD=TuPasswordSeguro
